:root {
  --landing-color: #f1faee;
  --font-landing: "Poppins", sans-serif;
  --font-family: "Krona One", sans-serif;
  --font-dashboard: "Montserrat", sans-serif;
  --text-color: #710202;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}
html {
  scroll-behavior: smooth;
}
body {
  max-height: 100vh;
  font-family: var(--font-family);
  overflow: hidden;
  background-color: #f1faee;
}

.page2 {
  background-color: #f1faee;
  height: 100vh;
  overflow: hidden;
  padding: 0;
}

/* //header styling */
nav {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}
.nav_page2 {
  padding: 1.3rem;
  height: 5rem;
}
.logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.vibify {
  font-size: 18px;
  font-weight: 400;
  color: rgb(125, 123, 120);
}
/* button styling  */
.sign_up {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #e6d9d9;
  z-index: 1;
  background: #e63947f0;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.sign_up::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.sign_up:hover {
  color: #e8e8e8;
}

.sign_up:hover::before {
  width: 100%;
}
/* //end of btn styling */

/* //section styling */
.sect1 {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: row;
}
/* //first subcontainer */
.subcontainer1 {
  width: 60%;
  display: flex;
  flex-direction: row;
}
.boy {
  height: 30rem;
}

/* //second subcontainer */
.subcontainer2 {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 40%;
}
.headline {
  margin-top: 2rem;
  font-size: 2.3rem;
  font-weight: bold;
  /* text-shadow: #4c4747; */
  letter-spacing: 1px;
  line-height: 2.5rem;
}
.span1 {
  color: #580127;
  padding-left: 2rem;
}
.span2 {
  color: #a17e6c;
}
.span3 {
  color: #798fb0;
}
.parag {
  margin-left: 2rem;
  margin-top: 1rem;
  color: #798fb0;
}
/* btn styling */
.cta {
  margin-top: 3rem;
  position: relative;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  width: 12rem;
  height: 3rem;
  margin-left: 9rem;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
  transition: o.3s;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #aac2d7;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #580127;
}
.cta span:hover {
  color: #e5e5e5;
}
.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}
/* circles design */
.circle_container {
  width: 10rem;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.circle {
  box-shadow: 0px 0px 10px 3px rgba(121, 116, 116, 0.3);
  border-radius: 50px;
}
.circle1 {
  position: absolute;
  background-color: #1d3557;
  height: 2rem;
  width: 2rem;
  right: 1rem;
  top: 1rem;
}
.circle2 {
  position: absolute;
  background-color: #a8dadc;
  height: 2.9rem;
  width: 2.9rem;
  right: 3rem;
  top: 4rem;
}
.circle3 {
  background-color: #457b9d;
  position: absolute;
  height: 3.4rem;
  width: 3.4rem;
  left: 3rem;
  top: 8.5rem;
}
.circle5 {
  background-color: #580127;
  position: absolute;
  height: 4rem;
  width: 4rem;
  left: 3rem;
  top: 14rem;
}
.circle4 {
  background-color: #e63946;
  position: absolute;
  height: 4.8rem;
  width: 4.8rem;
  right: 0.1rem;
  bottom: 6rem;
  box-shadow: 0px 0px 10px 5px rgba(85, 82, 82, 0.3);
}

/* // sign up page styling  */

input:invalid {
  border: 1px solid red;
}
.vibify1 {
  font-size: 2rem;
  font-weight: bold;
}

.signUp {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 24rem;
  /* background-color: #989393; */
  border-radius: 20% 20% 50% 50%;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  border-radius: 15px;
  width: 32rem;
  height: 23rem;
  z-index: 1;
  box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.3);
}
#heading {
  text-align: center;
  margin: 1em;
  color: #224957;
  font-size: 1.5em;
  font-weight: bold;
}
#p {
  text-align: center;
  margin: 0.5em;
  color: #224957;
  font-size: smaller;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  border-radius: 25px;
  padding: 0.5em;
  margin-left: 3rem;
  border: none;
  outline: none;
  color: rgb(247, 239, 239);
  background-color: #d4e4e4;
  width: 22em;
  /* box-shadow: inset 2px 5px 10px rgb(5, 5, 5); */
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: rgb(7, 7, 7);
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #0d0c0c;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 1em;
}

.button1 {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #a8dadc;
  color: #224957;
  transition: 0.3s ease-in-out;
}

.button1:hover {
  background-color: #224957;
  color: white;
}

.button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.3s ease-in-out;
  background-color: #a8dadc;
  color: #224957;
  cursor: pointer;
}

.button2:hover {
  background-color: #224957;
  color: white;
}

.button3 {
  margin-bottom: 3em;
  padding: 0.6em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.3s ease-in-out;
  background-color: #252525;
  color: white;
  cursor: pointer;
  width: 20em;
  margin-left: 4rem;
}

.button3:hover {
  background-color: rgb(167, 16, 16);
  color: white;
}

/* Styling for playlist generation page */

.logo-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.logo-center img {
  height: 10rem;
  width: 10rem;
  margin-top: 5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.mood-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
  margin-top: 2rem;
}

.mood-btn {
  padding: 0.7rem 1.7rem;
  border: none;
  border-radius: 15px;
  background-color: #a8dadc;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.mood-btn-container .mood-btn:nth-child(even) {
  margin-top: 2rem;
  background-color: #7B0751;
  color: #fff;
}

.mood-btn:hover {
  background-color: #224957;
  color: white;
}

.playlist-generator h2 {
  text-align: center;
  margin-top: 2rem;
  color: var(--text-color);

  font-family: var(--font-dashboard);
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
}

/* //footer styling is here  */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
}
.wave {
  height: 7.2rem;
  width: 100%;
}
